
@model WebApplication1.Models.User
@{
    ViewBag.Title = "Изменить данные пользователя";
}
    <form asp-action="create" asp-controller="home">
        <div class="form-group">
            <label asp-for="login" class="control-label">Логин</label>
            <input type="text" asp-for="login" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>
    </form>


